#projects{

    width: 100%;
    height: 100%;

margin: 0px;
padding: 50px 20px;
gap: 100px;

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: column; 



}
.heading{
margin-top: 100px;
font-size: 2rem;
background: linear-gradient(to right,rgb(203, 21, 51) ,white);
    display: inline-block;
 background-clip: text;
 color:transparent;
 display: flex;
 justify-content: center;
 align-items: center;

}
.cards{

display: flex;

width:100%;
height: 300px;
overflow-x: scroll;
overflow-y: hidden;
gap:50px;
scrollbar-width: none;

    padding-left: 40px;

padding: 20px ;
    box-sizing: border-box;
}

.card:first-child{
    margin-left: 20px;
}

.card:last-child{
    margin-right: 20px;
}