#about{

/* width: 100%;
height : 100%;
min-height: 100vh;
color: antiquewhite;
display: flex;
/* justify-content: center;
align-items: center; */
/* gap:30px; */ 

    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:120px;
    padding:50px 80px;
    color:antiquewhite;




}

.box1{

background-color: aqua;
width: 50px;
height:50px;
border: 4px solid aqua;
border-radius: 50%;
filter: drop-shadow(2px 2px 15px rgb(116, 201, 225));

}

.box2{

background-color: aqua;
width: 50px;
height:50px;
border: 4px solid aqua;
border-radius: 50%;
filter: drop-shadow(2px 2px 15px rgb(116, 201, 225));

}
.box3{

background-color: aqua;
width: 50px;
height:50px;
border: 4px solid aqua;
border-radius: 50%;
filter: drop-shadow(2px 2px 15px rgb(116, 201, 225));

}
 .leftabout{

    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.info1{
    padding: 10px 20px;
display: flex;


gap:50px;


}

.info2{
    padding: 10px 20px;
display: flex;



gap:50px;

}

.info3{
    padding: 10px 20px;
display: flex;


gap:50px;


}

.rightabout{

    flex:1;
    display:flex;
    flex-direction:column;
    gap:60px;
    justify-content:flex-start;
    align-items:flex-start;

}

 




.personalinfo h2{

background: linear-gradient(to right, rgb(245, 72, 72) ,white);
    display: inline-block;
 background-clip: text;
 color:transparent;
font-size: 2.5rem;

}


.personalinfo span {

color: aqua;


}


.education h2{

background: linear-gradient(to right, red ,white);
    display: inline-block;
 background-clip: text;
 color:transparent;
font-size: 2.5rem;

}

.education span {

color: aqua;


}

.skills h2{

background: linear-gradient(to right, red ,white);
    display: inline-block;
 background-clip: text;
 color:transparent;
font-size: 2.5rem;
}
.info1,
.info2,
.info3{
    display:flex;
    align-items:center;
    gap:40px;
}

